In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [46]:
df = pd.read_csv('insurance_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1250 non-null   int64
 1   gender    1250 non-null   object
 2   BMI       1250 non-null   float64
 3   weight    1248 non-null   float64
 4   children  1250 non-null   int64
 5   smoker    1249 non-null   object
 6   region    1250 non-null   object
 7   expenses  1248 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 78.3+ KB

In [ ]:
# comments:

# (1) there is a small amount of rows with missing values - they can be dropped

# (2) you may want to make use of https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html
# read through the function documentation carefully, and use dtype=float for the "dtype" parameter

# (3) perform all your computations (solve the task) before the questions part, in a complete, clear and effective manner

# (4) in the questions part only print answers based on your solution

#### Questions (answer the questions, all computations should precede this part)

#### Question 1

In [ ]:
# did you remove any numerical predictor from the data based on multi-collinearity considerations?
# if not - why, if yes - how did you decide on the predictor to remove?
# print a short (one-sentence) answer using the print() command
print('yes, BMI becuase it depends on weight')

      age  gender   BMI     weight  children smoker     region  expenses
0      29  female  27.9  55.651235         0    yes  southwest  16884.92
1      28    male  33.8  76.008228         3     no  southeast   1725.55
2      38    male  33.0  58.492328         4     no  southeast   4449.46
3      43    male  22.7  49.778750         3     no  northwest  21984.47
4      42    male  28.9  79.693884         0     no  northwest   3866.86
...   ...     ...   ...        ...       ...    ...        ...       ...
1245   38    male  24.3  50.971026         2     no  southwest   5615.37
1246   55  female  25.7  49.442219         1     no  southwest   9101.80
1247   43    male  29.4  74.444949         2     no  southwest   6059.17
1248   28  female  39.8  68.352627         1     no  southeast   1633.96
1249   42    male  33.6  60.670640         1    yes  northeast  37607.53

[1250 rows x 8 columns]

#### Question 2

In [54]:
# what is the amount of money a person is likely to spend on medical expenses with each additional year of age?
# write here the value itself (hardcoded) based on your inspection of the regression summary
# display your answer as a dataframe (as in assignment 2)
x= np.array(df[df.expenses.isnull() == False].age)
y= np.array(df.expenses.dropna())

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()

pd.DataFrame([('expense per age', 255.4083)])

                 0         1
0  expense per age  255.4083

#### Question 3

In [88]:
x= df[df.expenses.isnull() == False][["age","BMI","weight","children","smoker","gender"]]

len(x.weight.dropna())

1246

In [ ]:
# consider the predictors: age, gender, BMI, weight, children, smoker
# what predictors (out of this list) have significant contribution to predicting medical expenses?

# report only signifnicant predictors sorted by their contribution to the prediction from highest to lowest
# for each predictor specify if it has a positive or a negative effect on the medical expenses

# display your answer as a dataframe with two columns: (1) predictor, (2) effect (positive or negative)
# no need to include the constant (b_0) value
#remove na from df ahead of time so no issues with null values will be present
x= df.dropna()[["age","BMI","weight","children","smoker","gender"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()
pd.DataFrame([('age', 'positive'),('BMI','positive'),('weight','negetive'),('children','positive'),('smoker','positive'),('gender','negetive')])

          0         1
0       age  positive
1       BMI  positive
2    weight  negetive
3  children  positive
4    smoker  positive
5    gender  negetive

#### Question 4

In [145]:
#check corr between two columns for 4
import scipy.stats as sc 

x= df.dropna()[["age","BMI","weight","children"]]
x= pd.get_dummies(data=x.dropna(), drop_first=True)

res = np.array(10)
i=0

for col1 in x:
    for col2 in x:
        if(col1 !=col2):
            display(f'{col1} {col2} {sc.pearsonr(df.dropna()[col1],df.dropna()[col2])}')
#print(sc.pearsonr(df.dropna().age,df.dropna().smoker))

'age BMI PearsonRResult(statistic=np.float64(0.11048706043989888), pvalue=np.float64(9.362840006708815e-05))'

'age weight PearsonRResult(statistic=np.float64(0.09515281698173844), pvalue=np.float64(0.0007746914445052746))'

'age children PearsonRResult(statistic=np.float64(-0.04774385981254741), pvalue=np.float64(0.09220310339794971))'

'BMI age PearsonRResult(statistic=np.float64(0.11048706043989888), pvalue=np.float64(9.362840006708815e-05))'

'BMI weight PearsonRResult(statistic=np.float64(0.7027512486853148), pvalue=np.float64(5.152741453076655e-186))'

'BMI children PearsonRResult(statistic=np.float64(0.01961650494457312), pvalue=np.float64(0.48923192204541227))'

'weight age PearsonRResult(statistic=np.float64(0.09515281698173844), pvalue=np.float64(0.0007746914445052746))'

'weight BMI PearsonRResult(statistic=np.float64(0.7027512486853148), pvalue=np.float64(5.152741453076655e-186))'

'weight children PearsonRResult(statistic=np.float64(0.0414613819533043), pvalue=np.float64(0.14371223870096636))'

'children age PearsonRResult(statistic=np.float64(-0.04774385981254741), pvalue=np.float64(0.09220310339794971))'

'children BMI PearsonRResult(statistic=np.float64(0.01961650494457312), pvalue=np.float64(0.48923192204541227))'

'children weight PearsonRResult(statistic=np.float64(0.0414613819533043), pvalue=np.float64(0.14371223870096636))'

In [144]:
# compute R-squared for four regression versions:
# (1) including all predictors from the csv file
# (2) including predictors after taking care of the multi-collineraity issue
# (3) (2) above + including only predictors with signficant contribution to the model
# (4) (3) above + after preditor scaling

#(1)
x= df.dropna()[["age","BMI","weight","children","smoker","gender"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()

#(2) (removed BMI which had high corr to wieght(rest are fine))


x= df.dropna()[["age","weight","children","smoker","gender"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()

#(3) remove gender, children which have high p value
x= df.dropna()[["age","weight","smoker"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()

#(4)
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
x= df.dropna()[["age","weight","smoker"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x = scale.fit_transform(x)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

result.summary()


pd.DataFrame([0.749,0.731,0.731,0.731])

       0
0  0.749
1  0.731
2  0.731
3  0.731

#### Question 5

In [ ]:
# what medical expenses may expect a person with the following data?
# age=66, gender=female, BMI=35.4, weight=70.5, children=1, smoker=no, region=southeast

# for this question only, include you computation *in the answer below*


# !! you may face difficuly adding a constant (sm.add_constant()) to a DataFrame with a single row
# try to search for solution, and in case you need a hint, you may find these links useful - read carefully:
# https://github.com/statsmodels/statsmodels/issues/7057
# https://www.statsmodels.org/0.9.0/generated/statsmodels.tools.tools.add_constant.html
# in this specific case add_constant() has a somewhat unexpected behavior

In [ ]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

x= df.dropna()[["age","weight","children","smoker","gender"]]
y= np.array(df.dropna().expenses)

x= pd.get_dummies(data=x.dropna(), drop_first=True)
x = scale.fit_transform(x)
x= np.array(x, dtype= float)

x = sm.add_constant(x)
model = sm.OLS(y ,x)
result = model.fit()

# np.array adds a wierd 1 column to everything so added 1 at start
#second element is age,
#third is wieght(removed BMI for better accurecy)
#forth is children
#fifth is is smoking(answer is no so 0)
#sixth is is male(answer is female so 0)
x_test = np.array([1,66,70.5,1,0,0])
result.predict(x_test)

array([342161.74141011])